.root {
    -fx-font-size: 12.0px;
	-fx-background-color: white;
	
	-fx-focus-color: #04B564;
}
 
#header{
	-fx-border-radius: 0 0 0 0;
  -fx-background-radius: 0 0 0 0;
	-fx-base:  #003926;
	-fx-font-size: 18px;
	
}

#header-bar{
		-fx-border-radius: 15 15 15 15;
  -fx-background-radius: 15 15 15 15;
  -fx-border-color: #a1a1a1;
}

#choice-box-material{
	-fx-border-radius: 15 15 15 15;
	 -fx-background-radius: 15 15 15 15;
}

.list-view{
	
}


.tree-view{
	 
	-fx-font-size: 18px;
	 -fx-text-fill: #003926;
}

.tree-cell{
-fx-background-color: white;
}

.tree-cell:filled:selected {
    -fx-background-color: #36c766;
    -fx-text-fill: white;
}

#ok, #search, #preview{
   -fx-border-radius: 0px;
  -fx-font-family: "Arial";
 -fx-text-fill: white;
  -fx-font-size: 13px;
  -fx-background-color: #05a84c;
 
  -fx-pref-height: 30;
  -fx-pref-width: 130;
}

#ok:hover, #search:hover, #preview:hover{
   -fx-background-color: #03e665;
}

#ok:selected, #search:selected, #preview:selected{
   -fx-background-color: #36c766;
}
/*
.table-view {
/*
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
}

.table-view .column-header-background {
   /* -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 20;
    -fx-border-width: 0 0 0 0;
   
    -fx-border-insets: 0 10 10 0;
}

.table-view .column-header .label {
    -fx-font-size: 12px;
    -fx-font-family: "Segoe UI Light";
   /* -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}
*/